.jumbotron {
    background-color: blue;
    color: white;
    margin-top: 50px;
}


/*.btn {
    background-color: orange;
    color: white;
}
*/

.footer {
    padding: 10px 10px 0 10px;
    background-color: blue;
    color: white;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-orange {
    flex: 1 350px;
    padding: 10px 10px 30px 30px;
}

.btn-vermas {
    width: 100%;
}

.footer-icon {
    padding-right: 15px;
}